<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769202510609-lioqlshdvg43dc7ujvqbpb1b4f8flbla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769202510609-lioqlshdvg43dc7ujvqbpb1b4f8flbla</string>
	<key>API_KEY</key>
	<string>AIzaSyDhyF6BMauNwsgE28ldH4U8h7oEIzAHwnY</string>
	<key>GCM_SENDER_ID</key>
	<string>769202510609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ItDive.donationNature</string>
	<key>PROJECT_ID</key>
	<string>donature-it-dive</string>
	<key>STORAGE_BUCKET</key>
	<string>donature-it-dive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769202510609:ios:df78041fd6b532eacc8ab0</string>
	<key>DATABASE_URL</key>
	<string>https://donature-it-dive-default-rtdb.firebaseio.com</string>
</dict>
</plist>